
:root {
  --cakeoption-one: calc(1rem * 0.5);
  --cakeoption-two: calc(1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(246, 243, 239, 0.787) 24%, rgba(251, 171, 255, 0.297) 90%, rgba(0, 174, 255, 0.205) 100%);

}

.fontstyle{
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-size: 6vw;
  z-index: -1;
}

/* Header */
/* Logo SR */
.logoStylingHeader{
  margin-left: 70vw;
  margin-top: 60px; 
  width: 250px; 
  height: 250px;
}

/* Main Container */
.textStamp {
  color: grey;
  transform: rotate(-90deg);
  text-align: center;
  margin-top: 110px;
  position: fixed;
  opacity: 0.5;
  font-size: 100px;
}

/* Marquee Styling  */
.marqueeStyle {
  display: flex;
  flex-direction: row;

  background: linear-gradient(90deg, rgba(0, 174, 255, 0.205) 30%, rgba(246, 243, 239, 0.787) 70%, rgba(251, 171, 255, 0.297) 90%, rgba(0, 174, 255, 0.205) 100%);
}

.marqueeWordspacing {
  margin-right: 95px;
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;} */
 


/* About Us page */
.aboutUs{
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-size: 79px;
  margin-left: 40vw;
  margin-top: auto;
}

.aboutBody {
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Six Caps', sans-serif; */
  font-size: 20px;
}
.bufferColumn {
  margin-left: 40vw;
}


.submitPositioning {
  margin-left: 3vw;
  font-size: 3vw;
}




.flexrow_cake {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* background: rgba(255, 192, 203, 0.566);  */
  /* box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(105px);  */
}

/* cart window */
.cart{
  background: url(../src/assets/webb.png);
  animation: animate 2s linear infinite;
}

.close{
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}
.cartfontstyle{
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-size: 45px;
}

/* Login Page  */
.headerPositioning {
  margin-left: 12.5vw;
  margin-bottom: -14px;
  margin-top: -60px;
}

.bodyPositioning {
  margin-left: 0.2vw;
  font-size: 3vw;
}

.firstBodyPosition {
  margin-left: 12vw;
  font-size: 3vw;
}



.px-1 {
  padding-right: var(--cakeoption-one);
  padding-left: var(--cakeoption-one);
}

.py-1 {
  padding-top: var(--cakeoption-one);
  padding-bottom: var(--cakeoption-one);
}

.card {
  width: 25%;
  text-align: center;
}

/* #modelcontainer{
  /* background: rgba(255, 192, 203, 0.566); */
  /* box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(105px); 
} */

.cakeCard{
  /* background: rgba(192, 215, 255, 0.94); */
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;


  /* align-content: center; */
}

.productsContainer {
  margin-top: 120pt;
}

.aboutCard2 {
  /* background: url(../src/assets/webb.png); */
  margin-left: 20px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);

}


.pattern01{
  /* background: url(../src/assets/webb.png); */
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
}

/* .wrapper:hover img {
transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
    cursor: pointer;
} */

@keyframes animate {
  from {
    background-position: 0 -120px ;
  }
  to{
    background-position: 0 0 ;
  }
  
}

/* Detail page styling */
.backHome {
  margin-left: 35vw;
  margin-top: 1px;
}

.detailImage {
  position: relative;
  width: 25%;
  height: 25%;
  /* margin-left: 35vw; */
}


/* Product Page */
/* //product Items Styling:  */
.priceCurrency{
  align-items: flex-end;
}

.prouctHeader{
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
}
.addCartStyle{ 
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
}

.loginBtn {
  font-size: 50px ;
}


/* success page  */
.successContainer {
  display: flex; 
  flex-direction: row-reverse;
}

.imgSizeSuccess {
  width: 30%;
  height: 50%;
  margin-left: 35vw;
}
.fontstyleSuccess {
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
}

/* Catgeory Menu  */
.buttonSpacing{
  margin-left: 50px;
  z-index: 1000000;
  word-wrap: break-word;
}

/* Footer Styling*/
/* Background  */
.footerBG {
  display: flex;
  flex-direction: row;
  position: sticky;
}

.buffer {
  margin-left: 50vw;

}
/* Information Outline */
.coprightStyling {
  text-align: center;

}
/* Logo */
.logoStyling {
  width: 10vw;
  height: 20vh;
  margin-left: 9vw;
}


/* Media Query */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* Header */
/* logo Styling */
@media screen and (max-width: 768px){
  .logoStylingHeader {
    margin-left: 40vw;
    margin-top: 20px; 
    width: 200px; 
    height: 200px;
  }

  .textStamp {
    color: grey;
    transform: rotate(-90deg);
    text-align: center;
    margin-top: 110px;
    position: fixed;
    opacity: 0.5;
    font-size: 50px;
  }

  .bufferColumn {
    margin-left: 30vw;
  }

  .aboutUs{
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Six Caps', sans-serif;
    font-size: 50px;
    margin-left: 25vw;
    margin-top: auto;
  }

  .aboutBody {
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Six Caps', sans-serif; */
    font-size: 15px;
  }
}

/* Cart Media Query */
@media screen and (max-width: 768px){
  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
  .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--tertiary);
  }
  .cartfontstyle{
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Six Caps', sans-serif;
    font-size: 25px;
    margin-right: 10px;
  }
  
}

/* Login Media Query */
@media screen and (max-width: 768px){
  .headerPositioning {
    margin-left: 12.5vw;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 45px;
  }

  .bodyPositioning {
    margin-left: 0.2vw;
    font-size: 3vw;
  }

  .firstBodyPosition {
    margin-left: 12vw;
    font-size: 3vw;
  }
}

/* Signup Media Query */
@media screen and (max-width: 768px){
  headerPositioning {
    margin-left: 12.5vw;
    margin-bottom: -14px;
    margin-top: -60px;
  }
  firstBodyPosition {
    margin-left: 12vw;
    font-size: 3vw;
  }
  bodyPositioning {
    margin-left: 0.2vw;
    font-size: 3vw;
  }
  buttonPosition {
    margin-left: 160px;
  }
}



/* Media Query Footer */
@media screen and (max-width: 768px){
    .footerBG {
    display: flex;
    flex-direction: row;
    position: sticky;
  }

  .buffer {
    margin-left: 1vw;

  }
  /* Information Outline */
  .coprightStyling {
    text-align: center;

  }
  /* Logo */
  .logoStyling {
    width: 25vw;
    height: 10vh;
    margin-left: 9vw;
  }
}

/* Media Query Details page */
@media screen and (max-width: 768px){
  .backHome {
    margin-left: 15vw;
    margin-top: 0px;
  }

  .detailImage {
    position: relative;
    width: 50%;
    height: 50%;
    /* margin-left: 35vw; */
  }
}