
:root {
  --cakeoption-one: calc(1rem * 0.5);
  --cakeoption-two: calc(1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(246, 243, 239, 0.787) 24%, rgba(251, 171, 255, 0.297) 90%, rgba(0, 174, 255, 0.205) 100%);

}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;} */
 

.fontstyle{
  font-family: 'Bitter', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Six Caps', sans-serif;
  font-size: 6vw;
  z-index: -1;
}
.submitPositioning {
  margin-left: 3vw;
  font-size: 3vw;
}

.flexrow_cake {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* background: rgba(255, 192, 203, 0.566);  */
  /* box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(105px);  */
}

.cart{
  background: url(../src/assets/webb.png);
  animation: animate 2s linear infinite;
}

.px-1 {
  padding-right: var(--cakeoption-one);
  padding-left: var(--cakeoption-one);
}

.py-1 {
  padding-top: var(--cakeoption-one);
  padding-bottom: var(--cakeoption-one);
}

.card {
  width: 25%;
  text-align: center;
}

/* #modelcontainer{
  /* background: rgba(255, 192, 203, 0.566); */
  /* box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(105px); 
} */

.cakeCard{
  /* background: rgba(192, 215, 255, 0.94); */
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  align-content: center;
}

.productsContainer {
  margin-top: 120pt;
}

.aboutCard2 {
  margin-left: 20px;

}

.pattern01{
  background: url(../src/assets/webb.png);
   /* color: (10,100,1); */
   /* padding: 270px 0; */
   /* perspective:1000px;
   perspective-origin: 50% 50%;
   text-align: center;
   margin-bottom: 0; */
   
   box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
}

/* .wrapper:hover img {
transform: translate(-20px,-40px) rotate(-10deg) scale(1.2);
    cursor: pointer;
} */

@keyframes animate {
  from {
    background-position: 0 -120px ;
  }
  to{
    background-position: 0 0 ;
  }
  
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}


