:root {
  --cakeoption-one: calc(1rem * 0.5);
  --cakeoption-two: calc(1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flexrow_cake {
  display: flex;
  flex-wrap: wrap;
}

.px-1 {
  padding-right: var(--cakeoption-one);
  padding-left: var(--cakeoption-one);
}

.py-1 {
  padding-top: var(--cakeoption-one);
  padding-bottom: var(--cakeoption-one);
}

.card {
  width: 25%;
  text-align: center;
}

#modelcontainer{
  background: rgba(255, 192, 203, 0.566);
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  backdrop-filter: blur(15px);
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}


